/* BookFreeTrial.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  .content {
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  .trial-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .trial-form input,
  .trial-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .trial-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .trial-form button:hover {
    background-color: #45a049;
  }
  